html,
body,
#root {
    width: 100vw;
    height: 100vh;
    margin: 0;

    #map {
        width: 100%;
        height: 100%;

        .leaflet-container {
            width: 100%;
            height: 100%;
        }

        table.vehicle-info {
            border-collapse: collapse;
            width: 100%;
        }

        tr td {
            border: 1px solid #ccc;
            padding: 4px;
        }

        .vehicle-marker {
            .icon-wrapper {
                width: 28px;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                transform-origin: 50% 50%;

                .icon {
                    width: 24px;
                    height: 24px;
                    fill: #1f6feb;
                    stroke: #0b1f33;
                    stroke-width: 1px;
                }

                span {
                    font-size: 80%;
                    font-weight: bold;
                }
            }
        }
    }
}
