html,
body,
#root {
    width: 100vw;
    height: 100vh;
    margin: 0;

    #map {
        width: 100%;
        height: 100%;

        .leaflet-container {
            width: 100%;
            height: 100%;
        }

        table.vehicle-info {
            border-collapse: collapse;
            width: 100%;
        }

        tr td {
            border: 1px solid #ccc;
            padding: 4px;
        }
    }
}
